/config/parametres.php
/storage/uploads/*
!/storage/uploads/.gitignore
/storage/versions/*
!/storage/versions/.gitignore
/storage/messages/*
/storage/courriels/*
!/storage/courriels/.gitignore
!/storage/messages/.gitignore
/storage/alternance/*
!/storage/alternance/.gitignore
